.container-main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-responsive{
   max-width: 80%;
  height: auto;
}
.container-wheel{
  position: relative;
  z-index: -10;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.container-buttons_spin{
  display: flex;
  justify-content: center;
  margin-top:10px;
}
.container-buttons{
  margin: 0 15px;
}
.img-wheel{
   transition: all 4s ease;
  overflow-x: hidden
}

.img-arrow{
  position: relative;
  top: 42px;
  z-index: -1;
  display: flex;
    justify-content: center;
}
.btn-spin{
  border-radius: 10%;
  border: 1px solid blue;
  
}

@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    /*transform: rotate(360deg);*/
    transform: rotate(1100deg);
  }
}