
.container-main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-responsive{
   max-width: 100%;
  height: auto;
}
.container-wheel{
  top: -46px;
    position: relative;
    z-index: -10;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.container-buttons_spin{
  display: flex;
  justify-content: center;
  top: -15px;
  position: relative;
}
.container-buttons{
  margin: 0 15px;
}
.img-wheel{
   transition: all 4s ease;
  overflow-x: hidden
}

.container-arrow{
  position: relative;
   z-index: -1;
  display: flex;
    justify-content: center;
   
}
.btn-spin{
  border-radius: 10%;
  border: 1px solid blue;
  
}

@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    /*transform: rotate(360deg);*/
    transform: rotate(1100deg);
  }
}




